/.gradle
/build
**/build
/.idea
/.vscode
/.DS_Store
/out
**/bin
.DS_Store

near-jsonrpc-types/src/test
near-jsonrpc-types/src/main/kotlin/io/near/jsonrpc/types/*
near-jsonrpc-client/src/main/kotlin/io/near/jsonrpc/client/*
!near-jsonrpc-types/src/main/kotlin/io/near/jsonrpc/client/JsonRpcClient.kt

