{{>licenseInfo}}
package {{modelPackage}}

{{#imports}}import {{import}}
{{/imports}}

{{#models}}
{{#model}}
{{^isModel}}
{{#isAlias}}
typealias {{classname}} = {{{dataType}}}
{{/isAlias}}
{{/isModel}}
{{/model}}
{{/models}}